/*
 *  boowp - 
 *  Main lesscss file
 *
 */

@import "/boowp-footer.less";
@import "/boowp-widget.less";
@import "/boowp-gallery.less";

/* ==========================================================================
   Variables
   ========================================================================== */
/* Box */
@boowp-box-padding: 10px;
@boowp-marge: 15px;

/* Footer */
@boowp-footer-bg: #bbb;
@boowp-widget-bg: #aaa;


/* ==========================================================================
   Links
   ========================================================================== */
a, a:hover{
    text-decoration: none;
}


/* ==========================================================================
   bootstrap addons
   ========================================================================== */
.input-group-addon button{
    border: none;
    background: none;
    padding: 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm) { }

@media (min-width: @screen-md) { }

@media (min-width: @screen-lg) { }
