/*
 *  boowp - 
 *  Main lesscss file
 *
 */
@import "/boowp-variables.less";
@import "/boowp-footer.less";
@import "/boowp-widget.less";
@import "/boowp-gallery.less";

@import "/variables.less";
@import "/helper.less";
@import "/normalize.less";


/* ==========================================================================
   Links
   ========================================================================== */
a, a:hover{
    text-decoration: none;
}


/* ==========================================================================
   bootstrap addons
   ========================================================================== */
.input-group-addon button{
    border: none;
    background: none;
    padding: 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm) { }

@media (min-width: @screen-md) { }

@media (min-width: @screen-lg) { }
